<HTML>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <style>
    body {
      padding-top: 50px;
    }
  </style>
  <body>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Failed to uplod!!</h1>
          <p>not uploded and saved the data!</p>
        </div>
      </div>
    </div>
  </body> </HTML
>;
